<div fxLayoutAlign="center">
  <mat-card fxLayout="column" fxFlex="50">
    <mat-card-header fxLayoutAlign="center">
      <mat-card-title>S'inscrire</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <form *ngIf="signUpForm" fxLayout="column" fxLayoutGap="10px" [formGroup]="signUpForm" (submit)="submitForm()">
        <mat-form-field>
          <mat-label>Nom d'utilisateur</mat-label>
          <input matInput type="text" formControlName="name">
          <mat-error *ngIf="signUpForm.controls.name.hasError('required')">
            Le nom d'utilisateur est requis
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput type="email" formControlName="email">
          <mat-error *ngIf="signUpForm.controls.email.hasError('required')">
            L'addresse email est requise
          </mat-error>
          <mat-error
            *ngIf="signUpForm.controls.email.hasError('email') && !signUpForm.controls.email.hasError('required')">
            L'adresse email doit etre valide
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Mot de passe</mat-label>
          <input matInput type="password" formControlName="password">
          <mat-error *ngIf="signUpForm.controls.password.hasError('required')">
            Un mot de passe est requis
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Confirmation mot de passe</mat-label>
          <input matInput type="password" formControlName="cpassword" [errorStateMatcher]="passwordMatcher">
          <mat-error *ngIf="signUpForm.hasError('notSame')">
            Les mots de passe ne sont pas identiques
          </mat-error>
        </mat-form-field>

        <span fxLayoutAlign="end">
          <button mat-raised-button class="green-button"
            [disabled]="!signUpForm.valid || isSubmitting">S'inscrire</button>
        </span>
      </form>
    </mat-card-content>
  </mat-card>
</div>