<div fxLayoutAlign="center">
  <mat-card fxLayout="column" fxFlex="50">
    <mat-card-header fxLayoutAlign="center">
      <mat-card-title>{{ 'signUp.signUp' | translate }}</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <form *ngIf="signUpForm" fxLayout="column" fxLayoutGap="10px" [formGroup]="signUpForm" (submit)="submitForm()">
        <mat-form-field>
          <mat-label>{{ 'signUp.userName' | translate }}</mat-label>
          <input matInput type="text" formControlName="name">
          <mat-error *ngIf="signUpForm.controls.name.hasError('required')">
            {{ 'signUp.userNameRequired' | translate }}
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>{{ 'signUp.email' | translate }}</mat-label>
          <input matInput type="email" formControlName="email">
          <mat-error *ngIf="signUpForm.controls.email.hasError('required')">
            {{ 'signUp.emailRequired' | translate }}
          </mat-error>
          <mat-error
            *ngIf="signUpForm.controls.email.hasError('email') && !signUpForm.controls.email.hasError('required')">
            {{ 'signUp.emailValid' | translate }}
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>{{ 'signUp.password' | translate }}</mat-label>
          <input matInput type="password" formControlName="password">
          <mat-error *ngIf="signUpForm.controls.password.hasError('required')">
            {{ 'signUp.passwordRequired' | translate }}
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>{{ 'signUp.cpassword' | translate }}</mat-label>
          <input matInput type="password" formControlName="cpassword" [errorStateMatcher]="passwordMatcher">
          <mat-error *ngIf="signUpForm.hasError('notSame')">
            {{ 'signUp.passwordNotSame' | translate }}
          </mat-error>
        </mat-form-field>

        <span fxLayoutAlign="end">
          <button mat-raised-button class="green-button" [disabled]="!signUpForm.valid || isSubmitting">
            {{ 'signUp.signUp' | translate }}</button>
        </span>
      </form>
    </mat-card-content>
  </mat-card>
</div>