<mat-toolbar fxLayout="row" color="primary" fxLayoutAlign="space-between center">
  <span fxFlex="33" fxLayoutAlign="start">
    <button mat-button [matMenuTriggerFor]="menu">{{ 'toolbar.langage' | translate }}</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item *ngFor="let lang of langages" (click)="switchLang(lang)">{{ lang | uppercase }}</button>
    </mat-menu>
  </span>
  <span fxFlex="33" fxLayoutAlign="center">Botweet</span>
  <span fxFlex="33" fxLayoutAlign="end" fxLayoutGap="10px" *ngIf="!authService.getIsAuth()">
    <button mat-stroked-button type="button" routerLink="/sign-up">{{ 'toolbar.signUp' | translate }}</button>
    <button mat-stroked-button type="button" routerLink="/sign-in">{{ 'toolbar.signIn' | translate }}</button>
  </span>
  <span fxFlex="33" fxLayoutAlign="center" *ngIf="authService.getIsAuth()" fxLayoutGap="10px">
    <button mat-stroked-button type="button" (click)="deleteAccount()">{{ 'toolbar.deleteAcc' | translate }}</button>
    <button mat-stroked-button type="button" (click)="logout()">{{ 'toolbar.logout' | translate }}</button>
  </span>
</mat-toolbar>