<div fxLayout="column">
  <div fxLayout="column" fxLayoutAlign="start center">
    <h3>
      Vous êtes sur le point de supprimer votre compte, cette action est irréversible, souhaitez-vous vraiment supprimer
      votre compte ?
    </h3>
    <p>
      Cochez le slider suivant pour supprimer également vos tweets.
    </p>
    <mat-slide-toggle #evenData>Meme les données ?</mat-slide-toggle>
  </div>

  <div fxLayoutAlign="end" fxLayoutGap="10px">
    <button mat-raised-button class="green-button"
      [mat-dialog-close]="{confirm: true, data: evenData.checked}">Supprimer</button>
    <button mat-raised-button color="warn" mat-dialog-close>Quitter</button>
  </div>
</div>