<div fxLayoutAlign="center">
  <mat-card fxLayout="column" fxFlex="50">
    <mat-card-header fxLayoutAlign="center">
      <mat-card-title>{{ 'signIn.login' | translate }}</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <form *ngIf="signInForm" fxLayout="column" [formGroup]="signInForm" (submit)="submitForm()">
        <mat-form-field>
          <mat-label>{{ 'signIn.email' | translate }}</mat-label>
          <input matInput type="email" formControlName="email">
          <mat-error *ngIf="signInForm.controls.email.hasError('required')">
            {{ 'signIn.emailRequired' | translate }}
          </mat-error>
          <mat-error
            *ngIf="signInForm.controls.email.hasError('email') && !signInForm.controls.email.hasError('required')">
            {{ 'signIn.emailValid' | translate }}
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>{{ 'signIn.password' | translate }}</mat-label>
          <input matInput type="password" formControlName="password">
          <mat-error *ngIf="signInForm.controls.password.hasError('required')">
            {{ 'signIn.passwordRequired' | translate }}
          </mat-error>
        </mat-form-field>

        <span fxLayoutAlign="end">
          <button mat-raised-button class="green-button" [disabled]="!signInForm.valid || isSubmitting">
            {{ 'signIn.login' | translate }}</button>
        </span>
      </form>
    </mat-card-content>
  </mat-card>
</div>